body {
    background-color: #000623b8;
    color: rgba(255, 255, 255, 0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}


#message {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px;
    border-radius: 3px;
}

#message h2 {
    color: #ffa100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

#message h1 {
    font-size: 22px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.6);
    margin: 0 0 16px;
}

#message p {
    line-height: 140%;
    margin: 16px 0 24px;
    font-size: 14px;
}

#message a {
    display: block;
    text-align: center;
    background: #039be5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}

#message, #message a {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
    color: rgba(0, 0, 0, 0.4);
    text-align: center;
    font-size: 13px;
}

@media (max-width: 600px) {
    body, #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
    }

    body {
        border-top: 16px solid #ffa100;
    }
}

body {
    margin: 1em;
}

/* Button styles */
button {
    margin: 0.5em 0.3em;
}

/* Adjust the layout for the videos */
div#videos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

div#videos > video {
    background: black;
    width: 320px;
    height: auto;
    display: block;
    margin: 1em;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar {
    background-color: #000623b8;
    
}

/* Navbar adjustments */
.navbar .navbar-brand {
    font-weight: bold;
    color: white
}

.navbar .nav-link {
    color:  rgb(255, 255, 255);
}

.navbar .nav-link:hover {
    color: #039be5;
}

/* Footer adjustments */
footer {
    font-size: 14px;
    color: white;
    background-color: #000623b8;
}

footer a {
    color: #039be5;
}

footer a:hover {
    color: #ffa100;
}

#control-buttons {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

#toggleCameraBtn {
    display: inline-block;
    background-color: #6610f2;
    color: white;
    padding: 10px;
    font-size: 16px;
  }

/* Estilos para o contêiner geral do chat */
#chat-container {
    position: fixed;
    right: 0; /* Fixa o chat à direita */
    top: 55px;
    bottom: 53px;
    width: 300px; /* Largura do chat */
    display: flex;
    flex-direction: column;
    background-color: #000623b8; /* Fundo leve para o chat */
    border-left: 1px solid #000000; /* Borda que separa o chat */
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

/* Estilos para a caixa de mensagens */
#chatbox {
    flex-grow: 1; /* Faz o chatbox ocupar o máximo de espaço vertical possível */
    overflow-y: auto; /* Habilita rolagem vertical quando necessário */
    padding: 10px;
    background-color: #000623b8;
}

/* Estilos para a lista de mensagens */
#messages {
    list-style-type: none; /* Remove bullets da lista */
    padding: 0;
    margin: 0;
}

#messages li {
    padding: 8px 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #6610f2;
    word-wrap: break-word;
    max-width: 80%;
}

/* Mensagem enviada pelo próprio usuário */
#messages .you {
    background-color: #0063cc;
    align-self: flex-end; /* Alinha mensagens do próprio usuário à direita */
}

/* Estilos para o campo de entrada e botão */
#input-container {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc; /* Borda superior para separar da lista de mensagens */
    background-color: #f0f2f5;
}

#messageInput {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#input-container button {
    padding: 5px 10 px;
    background-color: #000623;
    color: white;
    border: none;
    margin-left: -8px;
    border-radius: 5px;
    cursor: pointer;
}

#input-container button:hover {
    background-color: #6610f2; /* Cor ao passar o mouse */
}


/* Estilo para rolar automaticamente para a última mensagem */
#chatbox {
    scroll-behavior: smooth;
}

.message {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #000; /* Cor de fundo das mensagens */
    border-radius: 5px;
    color: #000; /* Cor do texto das mensagens em preto */
}

.highlight-border {
    border: 5px solid yellow; /* Ajuste conforme necessário */
    box-shadow: 0 0 10px yellow; /* Opcional: para adicionar um efeito de destaque */
  }

